{:deps {}
 :dev-http {8080 ["resources/public" "classpath:public"]}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn sherlockbench.core/main}}
   :dev {:output-dir "resources/public/app-js"
         :closure-defines {sherlockbench.config/api-url "http://localhost:3000"
                           sherlockbench.config/list-subsets true}}
   :release {:closure-defines {sherlockbench.config/api-url "https://api.sherlockbench.com"
                               sherlockbench.config/list-subsets false}}}

  :portfolio
  {:target :browser
   :modules {:main {:init-fn sherlockbench.scenes/main}}
   :dev {:output-dir "resources/public/portfolio-js"}}}}
